/*==============================*/
/*=========ENTRADA BLOG=========*/
/*==============================*/

.bodyBlogEntry main{
    background-image: url(../assets/img/BG.png);
    background-size:cover;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "header"
    "bodyBlogEntry"
    "footer";
}

    .entrada{
        grid-area: bodyBlogEntry;
        margin: 3rem 10% 8rem 10%; 
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        overflow: hidden;
    }
    .entradaTitulo{
        @include textMed($textM,$ColWhite,$shadowBlueTitle);
        width: 100%;
        height: 100px;
        padding: 80px 0 130px 0;
    }
    .entradaCuerpo{
        width: 80%;
        min-height: 690px;
        height: auto;
        padding: 50px;
        margin-top: 10px;
        background-color: #232527;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .entradaCuerpo__img{
        width: auto;
        height: auto;
        max-width: 750px;
        max-height: 400px;
        margin: 30px 10% 0 10%;
    }
    .entradaCuerpo__img img{
        width: 100%;
        height: 100%;
    }
    .entradaCuerpo__vid{
        width: auto;
        height: auto;
        max-width: 750px;
        max-height: 400px;
        margin: 30px 10% 0 10%;
    }
    .entradaCuerpo p{
        height: auto;
        @include textLight($textS,$ColWhite,$shadowBlueText);
        margin-top: 30px;
    }
    .entradaCuerpo__hora{
        font-family:"Apex Light";
        font-size: 17px;
        color: #8b9e9c;
        font-style: italic;
        margin-top: 15px;
    }        