*{
    margin: 0;
    padding: 0;
}

* a{
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuerpo{
    height: 770px;
    width: 100%;
    margin: 5rem;
    border: 0px solid transparent;
    border-radius: 3rem;
    background-image: linear-gradient(0deg, #56ab2f, #a8e063);
}