@charset "UTF-8";
/*====FONTS====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coda&display=swap");
@font-face {
  font-family: Apex Med;
  src: url(assets/fonts/Apex\ Mk3-Medium.otf);
}
@font-face {
  font-family: Apex Light;
  src: url(assets/fonts/Apex\ Mk3-ExtraLight.ttf);
}
@font-face {
  font-family: Azurite;
  src: url(assets/fonts/Azurite_Regular.otf);
}
/*=======================*/
/*====GENERAL SETTINGS===*/
/*=======================*/
* {
  padding: 0px;
  margin: 0px;
}

* a {
  text-decoration: none;
}

* ul {
  list-style-type: none;
}

/*====BOTÓN AUTO SCROLL TOP====*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 3px solid #196966;
  outline: none;
  background-color: #313436;
  color: #c7e2df;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #196966;
}

header {
  /*grid-area: header;*/
  width: 100%;
  height: auto;
}

/*====NAV DESKTOP====*/
.navCustom {
  background-color: #0e1114 !important;
  font-family: "Apex Light";
  font-size: 22px;
}

.nav-item a {
  color: #c7e2df !important;
}

.nav-item a:hover {
  color: #196966 !important;
}

#navLogo {
  height: 40px;
  width: auto;
}

/*======================*/
/*=========FOOTER=========*/
/*======================*/
footer {
  /*grid-area: footer;*/
  width: 100%;
  height: auto;
}

/*====FOOTER DESKTOP====*/
.gridFooter {
  display: grid;
  background-color: #0e1114;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  overflow: hidden;
  grid-template-columns: repeat(3) 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "legal logo rrss";
}

.gridFooter a {
  color: #889b99;
}

.gridFooter a:hover {
  color: #4e5858;
  text-decoration: none;
}

/*==logo==*/
.gridFooter__logo {
  grid-area: logo;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
}

.gridFooter__logo img {
  margin: 10px 0px 0px 0px;
  padding: 1rem;
  width: 300px;
  height: auto;
}

/*==legal==*/
.gridFooter__legal {
  grid-area: legal;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
}

.gridFooter__legal ul {
  margin: 30px 0px 0px 0px;
  padding: 1rem;
  width: 150px;
  height: fit-content;
}

/*==rrss==*/
.gridFooter__rrss {
  grid-area: rrss;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
}

.gridFooter__rrss ul {
  margin: 30px 0px 0px 0px;
  padding: 1rem;
  width: 150px;
  height: fit-content;
  text-align: end;
}

/*====FOOTER MOBILE====*/
@media only screen and (max-width: 710px) {
  .gridFooter {
    display: grid;
    background-color: #0e1114;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo logo" "legal rrss";
  }

  /*==logo==*/
  .gridFooter__logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
  }

  .gridFooter__logo img {
    margin: 10px 0px 0px 0px;
    padding: 1rem;
    width: 300px;
    height: auto;
  }

  /*==legal==*/
  .gridFooter__legal {
    grid-area: legal;
    display: flex;
    justify-content: center;
  }

  .gridFooter__legal ul {
    margin: 30px 0px 0px 0px;
    height: 150px;
    width: fit-content;
    padding: 1rem;
  }

  /*==rrss==*/
  .gridFooter__rrss {
    grid-area: rrss;
    display: flex;
    justify-content: center;
  }

  .gridFooter__rrss ul {
    margin: 30px 0px 0px 0px;
    height: 150px;
    width: fit-content;
    padding: 1rem;
    text-align: end;
  }
}
/*======================*/
/*=========INDEX=========*/
/*======================*/
/*====BODY====*/
/*
.bodyIndex{
    display: grid;
    grid-template-rows: auto auto auto ;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "IndexMain"
    "footer"
    ;
}
*/
/*====MAIN====*/
.bodyIndex main {
  /*grid-area: IndexMain;*/
  background-image: url(assets/img/BG.png);
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 100%;
  grid-template-areas: "cabecera" "historia" "juego" "contacto";
}

.confFlex, .contacto, .juego4, .juego3, .juego2, .juego1, .historia__imagen, .historia, .container, .jumbotron {
  display: flex;
  text-align: center;
  justify-content: center;
}

#titleShield {
  display: none;
}

/*====CABECERA DESKTOP====*/
.jumbotron {
  grid-area: cabecera;
  height: 800px;
  background-image: url(assets/img/TemploExterior.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.container {
  height: auto;
}

.container__img {
  background-image: url(assets/img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 800px;
  height: 600px;
}

/*====SECCION HISTORIA====*/
.historia {
  grid-area: historia;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 15rem;
}

.historia div {
  width: 80%;
  height: auto;
  margin: 12rem 10% -6rem 10%;
}

.historia__titulo {
  font-family: "Azurite";
  font-size: 4rem;
  color: #c7e2df;
  text-shadow: 3px 3px 3px #1a6864;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  height: auto;
}

.historia__texto {
  font-family: "Apex Med";
  font-size: 1.5rem;
  color: #c7e2df;
  text-shadow: 2px 2px 3px #1a6864;
  letter-spacing: 2.5px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25px;
}

.historia__imagen {
  width: 100%;
  height: 800px;
  overflow: hidden;
}
.historia__imagen img {
  width: auto;
  height: auto;
  max-height: 700px;
}

/*====SECCION JUEGO====*/
.juego {
  grid-area: juego;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-row-gap: 5rem;
  grid-template-areas: "juego1 juego1 ." ". juego2 juego2" "juego3 juego3 ." "juego4 juego4 juego4";
}

.juego1 {
  grid-area: juego1;
  justify-content: unset;
  flex-wrap: nowrap;
  overflow: hidden;
  height: auto;
  background: -moz-linear-gradient(top, #00292880 0%, #22626181 50%, #00292881 100%);
  background: -webkit-linear-gradient(top, #00292880 0%, #22626181 50%, #00292881 100%);
  background: linear-gradient(to bottom, #00292880 0%, #22626181 50%, #00292881 100%);
  border-top: 9px solid #1c7d78;
  border-right: 9px solid #1c7d78;
  border-bottom: 9px solid #1c7d78;
  border-radius: 0px 15px 15px 0px;
}

.juego1__texto {
  width: 30%;
  height: 500px;
  padding: 3rem 2rem 2rem 2rem;
  margin-left: 15%;
  height: auto;
}
.juego1__texto h2 {
  font-family: "Azurite";
  font-size: 2.3rem;
  color: #c7e2df;
  text-shadow: 3px 3px 3px #1a6864;
  letter-spacing: 2px;
}
.juego1__texto p {
  margin-top: 1.3rem;
  font-family: "Apex Med";
  font-size: 1.2rem;
  color: #c7e2df;
  text-shadow: 2px 2px 3px #1a6864;
  letter-spacing: 2.5px;
}

.juego1__imagen {
  width: 680px;
  height: 514px;
  margin: 0px 0 0 4%;
  overflow: hidden;
}
.juego1__imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.juego2 {
  grid-area: juego2;
  justify-content: unset;
  flex-wrap: nowrap;
  overflow: hidden;
  height: auto;
  background: -moz-linear-gradient(top, #00292880 0%, #22626181 50%, #00292881 100%);
  background: -webkit-linear-gradient(top, #00292880 0%, #22626181 50%, #00292881 100%);
  background: linear-gradient(to bottom, #00292880 0%, #22626181 50%, #00292881 100%);
  border-top: 9px solid #1c7d78;
  border-left: 9px solid #1c7d78;
  border-bottom: 9px solid #1c7d78;
  border-radius: 15px 0px 0px 15px;
}

.juego2__texto {
  width: 30%;
  height: 500px;
  padding: 3rem 2rem 2rem 2rem;
  margin-right: 15%;
  height: auto;
}
.juego2__texto h2 {
  font-family: "Azurite";
  font-size: 2.3rem;
  color: #c7e2df;
  text-shadow: 3px 3px 3px #1a6864;
  letter-spacing: 2px;
}
.juego2__texto p {
  margin-top: 1.3rem;
  font-family: "Apex Med";
  font-size: 1.2rem;
  color: #c7e2df;
  text-shadow: 2px 2px 3px #1a6864;
  letter-spacing: 2.5px;
}

.juego2__imagen {
  width: 680px;
  height: 514px;
  margin: 0px 0 0 4%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.juego2__imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.juego2__imagen:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.1);
}

.juego3 {
  grid-area: juego3;
  justify-content: unset;
  flex-wrap: nowrap;
  overflow: hidden;
  height: auto;
  background: -moz-linear-gradient(top, #00292880 0%, #22626181 50%, #00292881 100%);
  background: -webkit-linear-gradient(top, #00292880 0%, #22626181 50%, #00292881 100%);
  background: linear-gradient(to bottom, #00292880 0%, #22626181 50%, #00292881 100%);
  border-top: 9px solid #1c7d78;
  border-right: 9px solid #1c7d78;
  border-bottom: 9px solid #1c7d78;
  border-radius: 0px 15px 15px 0px;
}

.juego3__texto {
  width: 30%;
  height: 500px;
  padding: 3rem 2rem 2rem 2rem;
  margin-left: 15%;
  height: auto;
}
.juego3__texto h2 {
  font-family: "Azurite";
  font-size: 2.3rem;
  color: #c7e2df;
  text-shadow: 3px 3px 3px #1a6864;
  letter-spacing: 2px;
}
.juego3__texto p {
  margin-top: 1.3rem;
  font-family: "Apex Med";
  font-size: 1.2rem;
  color: #c7e2df;
  text-shadow: 2px 2px 3px #1a6864;
  letter-spacing: 2.5px;
}

.juego3__imagen {
  width: 680px;
  height: 514px;
  margin: 0px 0 0 4%;
  overflow: hidden;
}

.juego3__imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.juego4 {
  grid-area: juego4;
  height: 1016px;
  width: 100%;
  overflow: hidden;
}

.juego4__texto {
  margin: 0px 3% 0px 3%;
  padding: 3%;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 1000px;
  z-index: 1;
}
.juego4__texto h2 {
  margin-bottom: 35px;
  font-family: "Azurite";
  font-size: 2.3rem;
  color: #c7e2df;
  text-shadow: 3px 3px 3px #3f2315;
  letter-spacing: 2px;
}
.juego4__texto p {
  margin-top: 35px;
  font-family: "Apex Med";
  font-size: 1.2rem;
  color: #c7e2df;
  text-shadow: 2px 2px 3px #3f2315;
  letter-spacing: 2.5px;
}

.juego4__textoImg {
  max-width: 880px;
  width: auto;
  height: auto;
  overflow: hidden;
}

.juego4__textoImg img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.juego4__img {
  filter: blur(7px);
  -webkit-filter: blur(7px);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 65%;
}

.contacto {
  grid-area: contacto;
  width: auto;
  height: auto;
  margin: 4rem;
  padding: 5rem 10% 5rem 10%;
}
.contacto h2 {
  font-family: "Azurite";
  font-size: 3rem;
  color: #c7e2df;
  text-shadow: 3px 3px 3px #1a6864;
  letter-spacing: 2px;
}
.contacto p {
  margin-top: 1.3rem;
  font-family: "Apex Med";
  font-size: 1.2rem;
  color: #c7e2df;
  text-shadow: 2px 2px 3px #1a6864;
  letter-spacing: 2.5px;
}

/*======================*/
/*=========FAQ=========*/
/*======================*/
.bodyFaq {
  background-image: url(assets/img/BG.png);
  background-size: cover;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "faqMain" "footer";
}

.faq {
  grid-area: faqMain;
  margin: 6rem 10% 8rem 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
.faq h1 {
  font-family: "Azurite";
  font-size: 4rem;
  color: #c7e2df;
  text-shadow: 3px 3px 3px #1a6864;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
}

.accordion {
  display: flex;
  align-items: center;
  background-color: #313436;
  border: 2px solid transparent;
  border-radius: 8px;
  font-family: "Apex Med";
  font-size: 1.5rem;
  color: #c7e2df;
  text-shadow: 0;
  letter-spacing: 2.5px;
  margin: 1.5rem 0px 0px 0px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.2s;
  z-index: 2;
}

.active, .accordion:hover {
  background-color: #1b1d1f;
  border: 2px solid #196966;
  border-radius: 8px;
}

.accordion:after {
  content: "➕";
  /* Unicode character for "plus" sign (+) */
  font-size: 1.2rem;
  color: #c7e2df;
  margin-left: auto;
}

.active:after {
  content: "➖";
  /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  width: 100%;
  margin: -10px;
  background-color: #1b1d1f;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: 2px solid #196966;
  border-left: 2px solid #196966;
  border-right: 2px solid #196966;
  border-radius: 0px 0px 8px 8px;
  z-index: 1;
}
.panel p {
  font-family: "Apex Med";
  font-size: 16px;
  color: #c7e2df;
  text-shadow: 0;
  letter-spacing: 2.5px;
  margin: 1.5rem;
}

/*====CABECERA MOBILE====*/
@media only screen and (max-width: 850px) {
  .faq {
    margin: 2rem 10% 8rem 10%;
  }
}
/*======================*/
/*=========BLOG=========*/
/*======================*/
.bodyBlog {
  background-image: url(assets/img/BG.png);
  background-size: cover;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "bodyBlog" "footer";
}
.bodyBlog main {
  grid-area: bodyBlog;
  margin: 6rem 10% 8rem 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.blogH2 {
  font-family: "Azurite";
  font-size: 4rem;
  color: #c7e2df;
  text-shadow: 2px 2px 3px #1a6864;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
}

.card-title {
  font-family: "Azurite";
  font-size: 1.5rem;
  color: #c7e2df;
  text-shadow: 2px 2px 3px #1a6864;
  letter-spacing: 2px;
}

.card-text {
  font-family: "Apex Med";
  font-size: 1.2rem;
  color: #c7e2df;
  text-shadow: 0;
  letter-spacing: 2.5px;
}

.btn-secondary {
  font-family: "Apex Med";
  font-size: 1.2rem;
  color: #c7e2df;
  text-shadow: 0;
  letter-spacing: 2.5px;
}

/*==============================*/
/*=========ENTRADA BLOG=========*/
/*==============================*/
.bodyBlogEntry main {
  background-image: url(assets/img/BG.png);
  background-size: cover;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "bodyBlogEntry" "footer";
}

.entrada {
  grid-area: bodyBlogEntry;
  margin: 3rem 10% 8rem 10%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.entradaTitulo {
  font-family: "Azurite";
  font-size: 1.5rem;
  color: #c7e2df;
  text-shadow: 3px 3px 3px #1a6864;
  letter-spacing: 2px;
  width: 100%;
  height: 100px;
  padding: 80px 0 130px 0;
}

.entradaCuerpo {
  width: 80%;
  min-height: 690px;
  height: auto;
  padding: 50px;
  margin-top: 10px;
  background-color: #232527;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.entradaCuerpo__img {
  width: auto;
  height: auto;
  max-width: 750px;
  max-height: 400px;
  margin: 30px 10% 0 10%;
}

.entradaCuerpo__img img {
  width: 100%;
  height: 100%;
}

.entradaCuerpo__vid {
  width: auto;
  height: auto;
  max-width: 750px;
  max-height: 400px;
  margin: 30px 10% 0 10%;
}

.entradaCuerpo p {
  height: auto;
  font-family: "Apex Med";
  font-size: 1.2rem;
  color: #c7e2df;
  text-shadow: 2px 2px 3px #1a6864;
  letter-spacing: 2.5px;
  margin-top: 30px;
}

.entradaCuerpo__hora {
  font-family: "Apex Light";
  font-size: 17px;
  color: #8b9e9c;
  font-style: italic;
  margin-top: 15px;
}

/*======================*/
/*======media query=====*/
/*======================*/
/*=============*/
/*=====Home====*/
/*=============*/
/*====Jumbotron====*/
@media only screen and (max-width: 1815px) {
  .jumbotron {
    height: 740px;
  }

  .container__img {
    width: 800px;
    height: 600px;
  }
}
@media only screen and (max-width: 1200px) {
  .jumbotron {
    height: 530px;
  }

  .container__img {
    width: 500px;
    height: 400px;
  }
}
@media only screen and (max-width: 420px) {
  .jumbotron {
    height: 350px;
  }

  .container__img {
    width: 350px;
    height: 250px;
  }
}
/*====Historia====*/
@media only screen and (max-width: 1200px) {
  .historia {
    margin-bottom: 6rem;
  }

  .historia div {
    margin: 5rem 10% 0rem 10%;
  }

  .historia__imagen {
    width: 100%;
    height: 700px;
  }
  .historia__imagen img {
    width: auto;
    height: auto;
    max-height: 520px;
  }
}
@media only screen and (max-width: 480px) {
  .historia {
    margin-bottom: 8rem;
  }
  .historia div {
    margin: 1.5rem 10% 0rem 10%;
  }

  .historia__titulo {
    font-family: "Azurite";
    font-size: 2.3rem;
    color: #c7e2df;
    text-shadow: 3px 3px 3px #1a6864;
    letter-spacing: 2px;
  }

  .historia__texto {
    font-family: "Apex Med";
    font-size: 16px;
    color: #c7e2df;
    text-shadow: 3px 3px 3px #1a6864;
    letter-spacing: 2.5px;
  }

  .historia__imagen img {
    max-height: 620px;
  }
}
/*====juego====*/
@media only screen and (max-width: 1445px) {
  .juego {
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }

  .juego1__texto {
    width: 40%;
    height: 500px;
    padding: 3rem 2rem 2rem 2rem;
    margin-left: 6%;
    height: auto;
  }

  .juego1__imagen {
    width: 620px;
    height: 480px;
    margin: 0px 3% 0 3%;
    overflow: hidden;
  }
  .juego1__imagen img {
    width: auto;
    height: auto;
    max-height: 450px;
  }

  .juego2__texto {
    width: 40%;
    height: 500px;
    padding: 3rem 2rem 2rem 2rem;
    margin-right: 6%;
    height: auto;
  }

  .juego2__imagen {
    width: 620px;
    height: 480px;
    margin: 0px 3% 0 3%;
    overflow: hidden;
  }
  .juego2__imagen img {
    width: auto;
    height: auto;
    max-height: 450px;
  }

  .juego3__texto {
    width: 40%;
    height: 500px;
    padding: 3rem 2rem 2rem 2rem;
    margin-left: 6%;
    height: auto;
  }

  .juego3__imagen {
    width: 620px;
    height: 480px;
    margin: 0px 3% 0 3%;
    overflow: hidden;
  }
  .juego3__imagen img {
    width: auto;
    height: auto;
    max-height: 450px;
  }

  .juego4 {
    height: 990px;
  }
}
@media only screen and (max-width: 1200px) {
  .juego {
    grid-area: juego;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    grid-row-gap: 1.5rem;
    grid-template-areas: "juego1" "juego2" "juego3" "juego4";
  }
}
@media only screen and (max-width: 1023px) {
  .juego {
    grid-row-gap: 5.2rem;
  }

  .juego1 {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background: -moz-linear-gradient(top, #00292880 0%, #22626181 50%, #00292881 100%);
    background: -webkit-linear-gradient(top, #00292880 0%, #22626181 50%, #00292881 100%);
    background: linear-gradient(to bottom, #00292880 0%, #22626181 50%, #00292881 100%);
    border-top: 9px solid #1c7d78;
    border-left: 9px solid #1c7d78;
    border-right: 9px solid #1c7d78;
    border-bottom: 9px solid #1c7d78;
    border-radius: 15px 15px 15px 15px;
  }

  .juego1__texto {
    width: 80%;
    margin-left: 0;
  }

  .juego1__imagen {
    width: 620px;
    height: 480px;
    margin: 0;
    overflow: hidden;
  }

  .juego2 {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap-reverse;
    background: -moz-linear-gradient(top, #00292880 0%, #22626181 50%, #00292881 100%);
    background: -webkit-linear-gradient(top, #00292880 0%, #22626181 50%, #00292881 100%);
    background: linear-gradient(to bottom, #00292880 0%, #22626181 50%, #00292881 100%);
    border-top: 9px solid #1c7d78;
    border-left: 9px solid #1c7d78;
    border-right: 9px solid #1c7d78;
    border-bottom: 9px solid #1c7d78;
    border-radius: 15px 15px 15px 15px;
  }

  .juego2__texto {
    width: 80%;
    margin-right: 0;
  }

  .juego2__imagen {
    width: 620px;
    height: 480px;
    margin: 0;
    overflow: hidden;
  }

  .juego3 {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background: -moz-linear-gradient(top, #00292880 0%, #22626181 50%, #00292881 100%);
    background: -webkit-linear-gradient(top, #00292880 0%, #22626181 50%, #00292881 100%);
    background: linear-gradient(to bottom, #00292880 0%, #22626181 50%, #00292881 100%);
    border-top: 9px solid #1c7d78;
    border-left: 9px solid #1c7d78;
    border-right: 9px solid #1c7d78;
    border-bottom: 9px solid #1c7d78;
    border-radius: 15px 15px 15px 15px;
  }

  .juego3__texto {
    width: 80%;
    margin-left: 0;
  }

  .juego3__imagen {
    width: 620px;
    height: 480px;
    margin: 0;
    overflow: hidden;
  }

  .juego4 {
    height: 965px;
  }
}
@media only screen and (max-width: 600px) {
  .juego1__imagen {
    width: 100%;
    height: auto;
    margin: 0px;
  }
  .juego1__imagen img {
    height: 300px;
  }

  .juego2__imagen {
    width: 100%;
    height: auto;
    margin: 0px;
  }
  .juego2__imagen img {
    height: 300px;
  }

  .juego3__imagen {
    width: 100%;
    height: auto;
    margin: 0px;
  }
  .juego3__imagen img {
    height: 300px;
  }

  .juego4 {
    height: 842px;
  }
}
@media only screen and (max-width: 480px) {
  .juego1__texto h2 {
    font-family: "Azurite";
    font-size: 1.5rem;
    color: #c7e2df;
    text-shadow: 3px 3px 3px #1a6864;
    letter-spacing: 2px;
  }
  .juego1__texto p {
    margin-top: 1.3rem;
    font-family: "Apex Med";
    font-size: 16px;
    color: #c7e2df;
    text-shadow: 2px 2px 3px #1a6864;
    letter-spacing: 2.5px;
  }

  .juego1__imagen {
    height: auto;
    margin: 0px 0px 1rem 0px;
  }
  .juego1__imagen img {
    height: 220px;
  }

  .juego2__texto h2 {
    font-family: "Azurite";
    font-size: 1.5rem;
    color: #c7e2df;
    text-shadow: 3px 3px 3px #1a6864;
    letter-spacing: 2px;
  }
  .juego2__texto p {
    margin-top: 1.3rem;
    font-family: "Apex Med";
    font-size: 16px;
    color: #c7e2df;
    text-shadow: 2px 2px 3px #1a6864;
    letter-spacing: 2.5px;
  }

  .juego2__imagen {
    height: auto;
    margin: 0px 0px 1rem 0px;
  }
  .juego2__imagen img {
    height: 220px;
  }

  .juego3__texto h2 {
    font-family: "Azurite";
    font-size: 1.5rem;
    color: #c7e2df;
    text-shadow: 3px 3px 3px #1a6864;
    letter-spacing: 2px;
  }
  .juego3__texto p {
    margin-top: 1.3rem;
    font-family: "Apex Med";
    font-size: 16px;
    color: #c7e2df;
    text-shadow: 2px 2px 3px #1a6864;
    letter-spacing: 2.5px;
  }

  .juego3__imagen {
    height: auto;
    margin: 0px 0px 1rem 0px;
  }
  .juego3__imagen img {
    height: 220px;
  }

  .juego4 {
    height: 730px;
  }

  .juego4__texto h2 {
    margin-top: 1.3rem;
    font-family: "Azurite";
    font-size: 1.5rem;
    color: #c7e2df;
    text-shadow: 3px 3px 3px #3f2315;
    letter-spacing: 2px;
  }
  .juego4__texto p {
    font-family: "Apex Med";
    font-size: 16px;
    color: #c7e2df;
    text-shadow: 2px 2px 3px #3f2315;
    letter-spacing: 2.5px;
  }
}
@media only screen and (max-width: 290px) {
  .juego4 {
    height: 800px;
  }
}
/*====subscripción====*/
@media only screen and (max-width: 480px) {
  .contacto h2 {
    font-family: "Azurite";
    font-size: 1.5rem;
    color: #c7e2df;
    text-shadow: 3px 3px 3px #1a6864;
    letter-spacing: 2px;
  }
}
/*====Blog Entradas====*/
@media only screen and (max-width: 600px) {
  .entrada {
    margin: 0rem 10% 8rem 10%;
  }

  .entradaTitulo {
    padding: 80px 0 120px 0;
  }

  .entradaCuerpo {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
